<div class="container-tabs">
  <div class="tabs d-flex flex-row align-items-center">
    <span class="text-tab" *ngFor="let item of listTime" [ngClass]="{'active': item.active}" (click)="selectDay(item)">
      {{item.time | dayOfWeek:true:true}}
    </span>
  </div>
</div>

<div class="d-flex flex-row info-day">
  <img [src]="infoDay.weather_code | weatherCodeIcon" [title]="infoDay.weather_code | weatherCode">
  <div class="d-flex flex-column align-self-center">
    <span class="fw-bold">{{infoDay.date | dayOfWeek}}, {{infoDay.date | dayAndMonth:'long'}}</span>
    <span>{{infoDay.weather_code | weatherCode}}</span>
  </div>
</div>

<div class="list-group">
  <div class="list-group-item list-group-item-action d-flex flex-row align-self-center justify-content-between"
    aria-current="true" *ngFor="let hourlyWeather of listByHour">
    <div class=" item-row d-flex w-30 flex-column align-self-center">
      <span class="mb-1 day-week">{{hourlyWeather.time}}</span>
    </div>
    <div class=" item-row d-flex flex-row justify-content-start align-self-center precipitation">
      <img [src]="hourlyWeather.weather_code | weatherCodeIcon: hourlyWeather.isDay" [title]="hourlyWeather.weather_code | weatherCode"
        width="40" height="40">
      <div class="d-flex flex-column justify-content-center">
        <span
          class="text-blue-small text-percent-rain">{{hourlyWeather.precipitation_probability}}{{weather.hourly_units.precipitation_probability}}</span>
        <span
          class="text-blue-small text-sum-rain">{{hourlyWeather.precipitation}}{{weather.hourly_units.precipitation}}</span>
      </div>
    </div>
    <div class=" item-row d-flex flex-row align-self-center justify-content-center temperature">
      <span class="text-temperature">{{hourlyWeather.temperature_2m |
        formatNumber}}{{weather.hourly_units.temperature_2m}}</span>
    </div>
    <div class=" item-row d-flex flex-row align-items-center">
      <i class='bx bxs-arrow-down-stroke {{hourlyWeather.wind_direction_10m | windDirectionIcon}}'></i>
      <span class="wind-info">{{hourlyWeather.wind_speed_10m | formatNumber}}
        {{weather.hourly_units.wind_speed_10m}}</span>
    </div>
  </div>
</div>