<div class="list-group-item list-group-item-action d-flex flex-row align-self-center justify-content-between" aria-current="true">
    <div class=" item-row d-flex w-30 flex-column align-self-center">
        <span class="mb-1 day-week">{{dailyWeather.date | dayOfWeek: true }}</span>
        <span class="mb-1 detail-text">{{dailyWeather.date | dayAndMonth }}</span>
    </div>
    <div class=" item-row d-flex flex-row justify-content-start align-self-center precipitation">
        <img [src]="dailyWeather.weather_code | weatherCodeIcon" [title]="dailyWeather.weather_code | weatherCode" width="40" height="40">
        <div class="d-flex flex-column justify-content-center">
            <span class="text-blue-small text-percent-rain">{{dailyWeather.precipitation_probability_max}}{{dailyUnits.precipitation_probability_max}}</span>
            <span class="text-blue-small text-sum-rain">{{dailyWeather.precipitation_sum}}{{dailyUnits.precipitation_sum}}</span>
        </div>
    </div>
    <div class=" item-row d-flex flex-row align-self-center justify-content-center temperature">
        <span class="text-min-temperature">{{dailyWeather.temperature_2m_min | formatNumber}}{{dailyUnits.temperature_2m_min}}</span>
        <span>&nbsp;/&nbsp;</span>
        <span class="text-max-temperature">{{dailyWeather.temperature_2m_max | formatNumber}}{{dailyUnits.temperature_2m_max}}</span>
    </div>
    <div class=" item-row d-flex flex-row align-self-center justify-content-end">
        <i class='bx bxs-arrow-down-stroke {{dailyWeather.wind_direction_10m | windDirectionIcon}}'></i>
        <div class="container-wind-info d-flex flex-column justify-content-center">
            <span>{{dailyWeather.wind_gusts_10m_min | formatNumber}} - {{dailyWeather.wind_gusts_10m_max | formatNumber}}</span>
            <span>{{dailyUnits.wind_gusts_10m_max}}</span>
        </div>
    </div>
</div>