
.item-row {
    flex: 1;
}
.day-week {
    font-weight: 600;
}

.precipitation {
    font-size: 0.75rem;
}

.detail-text {
    font-size: 12px;
}

.bx {
    font-size:32px;
    align-self: center;
}

.temperature {
    font-size: 15px;
}

.text-min-temperature {
    color: #2a65cb;
    font-weight: 500;
}

.text-max-temperature {
    color: #cb2c2a;;
    font-weight: 500;
}

.container-wind-info {
    font-size: .688rem;
}
