<div class="container-fluid g-0 d-flex flex-column align-items-center py-5">
    <i class="bxr  bx-alert-circle"></i> 
    <div class="d-flex flex-column align-items-center text">
        <h2>4 0 4 - Error</h2>
        <p>{{ 'not_found.parragraph1' | translate }}</p>
        <p>{{ 'not_found.parragraph2' | translate }}</p>
        <p>{{ 'not_found.parragraph3' | translate }}</p>
        <button class="btn btn-dark" (click)="goToHome()">{{ 'not_found.home_button' | translate }}</button>
    </div>
</div>