
.item-hour img {
    width: 80px;
}

.text-precipitation {
    color: #3498DB;
    padding-left: 10px;
    font-size: 10pt;
}

.col-item {
    flex: 1;
}

.bx {
    font-size:32px;
    align-self: center;
}

.item-row {
    flex: 1;
}
.day-week {
    font-weight: 600;
}

.precipitation {
    font-size: 0.75rem;
}

.temperature {
    font-size: 15px;
}

.wind-info {
    font-size: .688rem;
}