<div class="d-flex flex-row align-items-center justify-content-between px-2 py-1 border-bottom">
    <div class="col-item fw-bold">{{hourlyWeather.time}}</div>
    <div class="col-item d-flex flex-row align-items-center">
        <img [src]="hourlyWeather.weather_code | weatherCodeIcon: hourlyWeather.isDay" title="{{hourlyWeather.weather_code | weatherCode}}">
        <div class="text-precipitation d-flex flex-column" 
             [ngClass]="{'d-none': hourlyWeather.precipitation_probability === 0 || hourlyWeather.precipitation === 0}">
            <span>{{hourlyWeather.precipitation_probability}}{{hourlyUnits.precipitation_probability}}</span>
            <span>{{hourlyWeather.precipitation | formatNumber: 2}}{{hourlyUnits.precipitation}}</span>
        </div>
    </div>
    <div class="col-item d-flex flex-row justify-content-center">
        <span class="fw-bold fs-4">{{hourlyWeather.temperature_2m | formatNumber}}°</span>
    </div>
    <div class="col-item d-flex flex-column">
        <span class="fw-bold">{{hourlyWeather.weather_code | weatherCode}}</span>
        <span>Sensación T. {{hourlyWeather.apparent_temperature | formatNumber}}°</span>
    </div>
    <div class="col-item d-flex flex-row align-items-center">
        <i class='bx bxs-arrow-down-stroke {{hourlyWeather.wind_direction_10m | windDirectionIcon}}'></i>
        <div class="d-flex flex-column">
            <span class="fw-bold">{{hourlyWeather.wind_direction_10m | windDirection }}</span>
            <span>{{hourlyWeather.wind_speed_10m | formatNumber}} - {{hourlyWeather.wind_gusts_10m | formatNumber}} {{hourlyUnits.wind_speed_10m}}</span>
        </div>
    </div>
</div>