<div class="row g-0 d-flex justify-content-center px-md-2 px-md-auto">
    <div class="container-hourly">
        <div class="col">
            <p class="fw-bold">{{'body.title' | translate:{place} }} {{time | dayOfWeek:true}}, {{time | dayAndMonth:'long'}}</p>
        </div>
        <div class="list-group list-group-flush">
            <app-item-hour-weather *ngFor="let item of listByHour"
                                    [hourlyUnits]="weather.hourly_units"
                                    [hourlyWeather]="item">
            </app-item-hour-weather>
        </div>
    </div>
</div>
