
.card-current {
    padding: 10px;
    background-color: #5DADE2;
    border-radius: 5px;
    color: #FFFFFF;
}

.content-izq img {
    width: 80px;
}

.text-current-temperature {
    font-size: 40pt;
    font-weight: normal;
}

.content-der i {
    font-size: 20pt;
}