<div class="row d-flex justify-content-center">
    <div class="col col-lg-6 col-md-8">
        <h2>El tiempo en {{place.name}}</h2>
        <span class="text-hour-day">{{getCurrentHour()}} | {{undefined | dayOfWeek}}</span>
        <div class="card-current col-md-8">
            <span class="text-weather-code">{{weather.current.weather_code | weatherCode}}</span>
            <div class="d-flex flex-row justify-content-evenly">
                <div class="d-flex flex-row align-items-baseline">
                    <img [src]="weather.current.weather_code | weatherCodeIcon: weather.current.is_day">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <span class="text-current-temperature">{{weather.current.temperature_2m | formatNumber}}°</span>
                        <span class="text-apparent-temperature">Sensación de {{weather.current.apparent_temperature | formatNumber}}°</span>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <i class="wi wi-umbrella"></i>
                    <span class="text-percent-rain">{{weather.current.relative_humidity_2m + '' + weather.current_units.relative_humidity_2m}}</span>
                    <span class="text-precipitation">{{weather.current.precipitation}} {{weather.current_units.precipitation}}</span>
                </div>
            </div>
        </div>
    </div>
</div>