
.div-range-days {
    background-color: #FFFFFF;
    padding: 5px 0;
}

.div-range-days span:last-child:after {
    content: '';
}

.text-range {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #0074AD;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
}

.text-range:hover {
    color: #A9CCE3;
}

.text-range::after {
    content: '|';
    color: rgba(197,204,208,0.6);
    margin-left: 2px;
    font-weight: 100;
    margin: 0 5px;
}

.range-active {
    color: #000000;
    cursor: default;
}

.range-active:hover {
    color: #000000;
}

app-card-day-weather {
    margin: 0 3px;
}


.next, .prev {
    position: relative;
    display: flex;
    align-items: center;
    visibility: visible;
}

.button-next, .button-prev {
    position: absolute;
    right: -1rem;
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ECEEEF;
    justify-content: center;
    align-items: center;
    color: #0074AD;
    cursor: pointer;

    i {
        font-size: 25px;
    }
}

.button-prev {
    left: -1rem !important;
}

.button-next:hover, .button-prev:hover {
    color: #A9CCE3;
    background-color: #ECEEEF;
}

.hide-button {
    visibility: hidden;
}